html {
    background-color: black;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

.first{
    position: absolute;
    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 40px 20px #74eb34;
    background-color: #74eb34;
    border-radius: 50%;
}
.circleFirst{
    animation-delay: 4s;
    animation: bottom-top-first 8s ease-in forwards infinite;
}
@keyframes bottom-top-first {
    0% { transform: translateY(1300%) translateX(5%); }
    100% { transform: translateY(-400%) translateX(5%); }
}

.second{
    position: absolute;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 40px 20px rgb(190, 74, 74);
    background-color: rgb(190, 74, 74);
    transform: translateY(1000%) translateX(50%);
    border-radius: 50%;
}
.circleSecond{
    animation-delay: 3s;
    animation: bottom-top-second 9s ease-in forwards infinite;
}
@keyframes bottom-top-second {
    0% { transform: translateY(1000%) translateX(50%); }
    100% { transform: translateY(-400%) translateX(50%); }
}


.third{
    position: absolute;
    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 40px 20px yellow;
    background-color: yellow;
    transform: translateY(900%) translateX(130%);
    border-radius: 50%;
}
.circleThird{
    animation-delay: 2s;
    animation: bottom-top-third 7s ease-in forwards infinite;
}
@keyframes bottom-top-third {
    0% { transform: translateY(900%) translateX(130%); }
    100% { transform: translateY(-400%) translateX(130%); }
}


.fourth{
    position: absolute;

    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 40px 20px white;
    background-color: white;
    transform: translateY(800%) translateX(200%);
    border-radius: 50%;
}
.circleFourth{
    animation-delay: 4s;
    animation: bottom-top-fourth 10s ease-in forwards infinite;
}
@keyframes bottom-top-fourth {
    0% { transform: translateY(800%) translateX(200%); }
    100% { transform: translateY(-400%) translateX(200%); }
}


.fifth{
    position: absolute;

    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 40px 20px #9498d3;
    background-color: #9498d3;
    transform: translateY(1500%) translateX(320%);
    border-radius: 50%;
}
.circleFifth{
    animation-delay: 7s;
    animation: bottom-top-fifth 15s ease-in forwards infinite;
}
@keyframes bottom-top-fifth {
    0% { transform: translateY(1500%) translateX(320%); }
    100% { transform: translateY(-300%) translateX(320%); }
}


.sixth{
    position: absolute;

    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 40px 20px #d634eb;
    background-color: #d634eb;
    transform: translateY(700%) translateX(500%);
    border-radius: 50%;
}
.circleSix{
    animation-delay: 6s;
    animation: bottom-top-six 15s ease-in forwards infinite;
}
@keyframes bottom-top-six {
    0% { transform: translateY(700%) translateX(500%); }
    100% { transform: translateY(-300%) translateX(500%); }
}


.seventh{
    position: absolute;
    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 40px 20px #e8eb34;
    background-color: #e8eb34;
    transform: translateY(700%) translateX(650%);
    border-radius: 50%;
}
.circleSeven{
    animation-delay: 4s;
    animation: bottom-top-seven 7s ease-in forwards infinite;
}
@keyframes bottom-top-seven {
    0% { transform: translateY(700%) translateX(650%); }
    100% { transform: translateY(-300%) translateX(650%); }
}


.eights{
    position: absolute;

    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 40px 20px #e77b33;
    background-color: #e77b33;
    transform: translateY(1100%) translateX(720%);
    border-radius: 50%;
}
.circleEight{
    animation: bottom-top-eight 5s ease-in forwards infinite;
}
@keyframes bottom-top-eight {
    0% { transform: translateY(1100%) translateX(720%); }
    100% { transform: translateY(-300%) translateX(720%); }
}


.nine{
    position: absolute;

    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 40px 20px #e21b1b;
    background-color: #e21b1b;
    transform: translateY(900%) translateX(900%);
    border-radius: 50%;
}
.circleNine{
    animation: bottom-top-nine 5s ease-in forwards infinite;
}
@keyframes bottom-top-nine {
    0% { transform: translateY(900%) translateX(900%); }
    100% { transform: translateY(-300%) translateX(900%); }
}


.tens{
    position: absolute;

    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 40px 20px #e22ac9;
    background-color: #e22ac9;
    transform: translateY(1400%) translateX(1300%);
    border-radius: 50%;
}
.circleTen{
    animation: bottom-top-six 5s ease-in forwards infinite;
}
@keyframes bottom-top-ten {
    0% { transform: translateY(1400%) translateX(1300%); }
    100% { transform: translateY(-300%) translateX(1300%); }
}

