/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); */

@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans.ttf);
}

.fitness_storie{
width: 273px;
height: 164px;
padding-left: 102px;
padding-top: 36px;
display: flex;
justify-content: left;
align-items: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header-block {
    width: 400px;
    height: 200px;
    padding-top: 36px;
    padding-right: 102px;
    display: flex;
    align-items: right;
    justify-content: right;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 299px;
    height: 81px;
    border: 2px solid #10133A;
    border-radius: 50px;
}

.number img {
    margin-right: 20px;
}

.number span {
    font-family: OpenSans;
    font-size: 22px;
    color: #10133A;
}

.block{
    display: block;
}

.icone{
    display: flex;
    align-items: center;
    justify-content: left;
}

.icone_img{
    margin: 10px;
}

.underHead{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 61px;
    background-color: #10133A;
    font-family: OpenSans;
    font-size: 22px;
    color: #fff;
}

.aboutUnderHead{
    font-family: OpenSans;
    font-size: 22px;
    color: #fff;
}

.block_telka{
    display: flex;
    align-items: left;
    justify-content: center;
}

.telka{
    position: absolute;
    z-index: 2;
    right: 353px;
    top: 280px;
}

.backtelka{
    position: absolute;
    z-index: 1;
    right: 203px;
}

.textTelki{
    
    display: block;    
}