/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); */

@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans.ttf);
}

.fitness_storie{
width: 273px;
height: 164px;
padding-left: 102px;
padding-top: 36px;
display: flex;
justify-content: left;
align-items: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header-block {
    width: 400px;
    height: 200px;
    padding-top: 36px;
    padding-right: 102px;
    display: flex;
    align-items: right;
    justify-content: right;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 299px;
    height: 81px;
    border: 2px solid #10133A;
    border-radius: 50px;
}

.number span{
    font-family: OpenSans;
    font-size: 22px;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

.icone{
    display: flex;
    align-items: center;
    justify-content: left;
}

.icone_img{
    margin: 12px;
}

.underHead{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 61px;
    background-color: #10133A;
    font-family: OpenSans;
    font-size: 22px;
    color: #fff;
}

.aboutUnderHead{
    font-family: OpenSans;
    font-size: 22px;
    color: #fff;
}

.block_telka{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.textTelkiF{  
    display: block;
    align-items: center;
    justify-content: center;
    font-family: OpenSans;
    font-weight: bold;
    
    font-size: 48px; 
    position: relative;
    top: 169px;
    left: 98px;
    color:#10133A;
}

.textTelkiS{
    display: block;
    align-items: center;
    justify-content: center;
    font-family: OpenSans;    
    font-weight: 400;
    font-size: 30px; 
}

.imgTelka{
    position: relative;
    top: -20px;
}

.SideBar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 280px;
    border: 0px;
    background-color: burlywood;
    padding: 10px;
}

.SideBar_Item :hover{
    background-color: cadetblue;
    border-radius: 4px;
}

.SideBar_Item{
    font-family: OpenSans;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 18px;
}

.hardBlock{
    background-color: #F4F5FF;
}

.flexZhenchini{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    height: 550px;
}

.flexZhenchiniSec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    height: 700px;
}

.positionLine1{
    position: relative;
    top: 90px;
    left: 103px;
}

.blockAboutCoach_1{
    position: relative;
    top: 90px;
    left: 103px;
    font-family: OpenSans;    
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #10133A;
}

.blockAboutCoach_2{
    position: relative;
    top: 90px;
    left: 103px;
    font-family: OpenSans;    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.blockIMGCoach_1{
    position: relative;
    top: 90px;
    right: 102px;
}

.blockAboutCoach_3{
    position: relative;
    top: 100px;
    right: 102px;
    text-align: right;
    font-family: OpenSans;    
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #10133A;
}

.blockAboutCoach_4{
    position: relative;
    top: 100px;
    right: 102px;
    text-align: right;
    font-family: OpenSans;    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.positionLine2{
    position: relative;
    top: 100px;
    right: 102px;
    float:right;
}

.blockIMGCoach_2{
    position: relative;
    top: 34px;
    left: 107px;
}

.blockOt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F5FF;
}

.blockOtzivi{    
    flex-direction: column;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    height: 700px;
    position: relative;
}

.Otzivi_1{
    font-family: OpenSans;    
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #10133A;
}

.Otzivi_2{
    font-family: OpenSans;    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.Video{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 850px;    
}

.blockRecording{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.RecordingText{
    font-family: OpenSans;    
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #10133A;
}

.blockRec{
    flex-direction: column;
    display: flex;
    align-items: center; 
    height: 1062px;
    justify-content: space-between;   
}

.flexRec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 856px;
}

.RecordFName{
    font-family: OpenSans;    
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

.areaInput{
    font-family: OpenSans;    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    width: 649px;
    height: 85px;
    background-color: #CDC2C0;
    border:0px;
    border-radius: 50px; 
}

.OptionGoal{
    width: 649px;
    height: 85px;
    background-color: #CDC2C0;
    border:0px;
    border-radius: 50px; 
}